{% extends './master.html' %}

{% block wrapper %}

<!--  -->
<span>
	<div class="opblock-tag-section">
		<h4 class="opblock-tag" id="operations-tag-account-auth-controller">
			<a class="nostyle" href="#/account-auth-controller">
				<span>
					account-auth-controller
				</span>
			</a>
			<small>
				<div class="markdown">
					Account Auth Controller
				</div>
			</small>
			<div>
			</div>
			<button class="expand-operation" title="Expand operation">
				<svg class="arrow" width="20" height="20">
					<use href="#large-arrow" xlink:href="#large-arrow">
					</use>
				</svg>
			</button>
		</h4>
		<noscript>
		</noscript>
	</div>
</span>

{% endblock %}